.login-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: #0000CD;
    -fx-border-width: 1px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 8 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.5, 0, 0);
    -fx-transition: all 0.4s ease;
}

.login-button:hover {
    -fx-background-color: #0000CD;
    -fx-text-fill: white;
    -fx-border-color: #00008B;
    -fx-border-radius: 15; /* Giữ bo góc */
}

.rounded-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}
.label1 {
    -fx-text-fill: black;
}
.primary-color {
    -fx-background-color: #13123A;
}
.secondary-color {
    -fx-background-color: #00002C;
}
.setting-button {
    -fx-background-color: #242551;
    -fx-background-radius: 30;
}
.text-input {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #242551;
    -fx-text-inner-color: #fff;
}
.selected-border {
    -fx-border-color: #fff;
    -fx-border-width: 0 3 0 0;
}
.selected:hover {
    -fx-background-color: #3C3D5B;
}